name: Vercel Production Deployment
on:
  push:
    branches:
      - main
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Deploy to Vercel
        uses: amondnet/vercel-action@v20
        with:
          vercel-token: kAbawTTaKqtf3Xe7C8SrAgtT
          vercel-org-id: team_N25QGHMFPwTmXBcCLpfGEIUM
          vercel-project-id: prj_5HggDNrFaN9FL749eYJAcUTHqJXb
          vercel-args: "--prod"
