name: Vercel Production Deployment
on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          token: ${{ secrets.PAT_TOKEN }}

      - name: Configure Git
        run: |
          git config user.name "chau0301"
          git config user.email "nongngocchau1@gmail.com"

      - name: Rewrite commit author and committer
        env:
          GIT_COMMITTER_NAME: chau0301
          GIT_COMMITTER_EMAIL: nongngocchau1@gmail.com
        run: |
          git commit --amend --no-edit --author="chau0301 <nongngocchau1@gmail.com>"
          git push --force
